<header>
    <div class="container">
        <h1 class="h1-font"><i class="fa fa-gavel" aria-hidden="true"></i>&nbsp; 在线工具</h1>
    </div>
</header>
<div class="container" ng-init="init()">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#transform" aria-controls="home" role="tab" data-toggle="tab" ng-click="goCoordinateTranform($event)">地图坐标转换</a>
        </li>
        <li role="presentation">
            <a href="#excelPreview" aria-controls="excelPreview" role="tab" data-toggle="tab" ng-click="goExcelPreview($event)">在线excel预览</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="transform">
            <div class="penel-content">
                <div style="padding-bottom: 10px;">
                        <label class="control-label" style="float:left; line-height: 30px;"> 大地坐标 </label>
                        <div class="input-group" style="float: left; width: 30%; padding-left: 10px;">
                            <input class="form-control" type="text" placeholder="横坐标X,纵坐标Y" ng-model="daDiCoordinate">
                            <span class="input-group-btn">
                                <button class="btn btn-info" ng-click="transform()">转换</button>
                            </span>
                        </div>
                </div>
                <div id="baiduMap" baidu-map ng-model="map"></div>
                <div class="table-container">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>WGS84坐标系</th>
                                <td>
                                      <div class="form-group">
                                        <input type="text" class="form-control" placeholder="经度,纬度" id="wgs84"
                                               pattern="[0-9]+(.[0-9]+)?[,][0-9]+(.[0-9]+)?"  ng-keyup="enterLonLat($event, 'wgs84')">
                                      </div>
                                </td>
                            </tr>
                            <tr>
                                <th>GCJ02坐标系</th>
                                <td>
                                      <div class="form-group">
                                        <input type="text" class="form-control" placeholder="经度,纬度" id="gcj02"
                                               pattern="[0-9]+(.[0-9]+)?[,][0-9]+(.[0-9]+)?" ng-keyup="enterLonLat($event, 'gcj02')">
                                      </div>
                                </td>
                            </tr>
                            <tr>
                                <th>BD09坐标系</th>
                                <td>
                                      <div class="form-group">
                                        <input type="text" class="form-control" placeholder="经度,纬度" id="bd09"
                                               pattern="[0-9]+(.[0-9]+)?[,][0-9]+(.[0-9]+)?" ng-keyup="enterLonLat($event, 'bd09')">
                                      </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>解释</div>
                <div class="table-container">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>WGS84坐标系</th>
                                <td>
                                    地球坐标系，国际通用坐标系
                                </td>
                            </tr>
                            <tr>
                                <th>GCJ02坐标系</th>
                                <td>
                                    火星坐标系，WGS84坐标系加密后的坐标系；Google国内地图、高德、QQ地图 使用
                                </td>
                            </tr>
                            <tr>
                                <th>BD09坐标系</th>
                                <td>
                                    百度坐标系，GCJ02坐标系加密后的坐标系
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="excelPreview">
            <div class="penel-content">
                <input type="file" name="file" id="file">
                <div id="excelTable"></div>
            </div>
        </div>
    </div>
</div>